html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: black;
  background: linear-gradient(-45deg, #fb5607, #ff006e, #8338ec, #3a86ff);
  background-size: 400% 400%;
  animation: gradient 25s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
  padding: 50px;
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dice {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: #3a86ff;
  margin: 0 auto;
  font-size: 80px;
  display: block;
  align-items: center;
  justify-content: center;
}

button {
  color: #fff;
  padding: 20px 30px;
  font-size: 20px;
  margin: 40px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#rollBtn {
  background: #ffbe0b;
}

#resetBtn {
  background-color: #ffbe0b;
}

button:focus {
  outline: none;
}

#resetBtn {
  display: none;
}

.active {
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}
#rules {
  margin: 0;
  text-decoration: underline;
  text-decoration-color: blue;
}
